.node {
    width: 20px;
    height: 20px;
    outline: 1px solid rgb(0, 0, 0);
    display: inline-block;
    z-index: 3;
    &:hover{
        outline: 2px solid red;
        background-color: rgb(236, 236, 114);
        z-index: 3;
    }
}

.startnode {
    background: radial-gradient(yellow, green);
}
.goalnode {
    background: radial-gradient(yellow, red);
}

.visited {
    animation: changeColor 6s ease-in-out;
}

.choosing {
    cursor: crosshair;
}

.hidden {
    display: none;
}

@keyframes changeColor {
    from {
        background-color: white;
        outline: 1px solid rgb(0, 0, 0);
    }

    30% {
        background-color: chartreuse;
        outline: 3px solid rgb(216, 37, 37);
    }

    75% {
        background-color: rgb(255, 0, 0);
        outline: 3px solid rgb(0, 81, 255);
     }

    to {
        background-color: rgb(0, 174, 255);
        outline: 3px solid rgb(64, 255, 46);
    }
} 