.grid {
    margin: 0;
    padding-top: 30px;
    z-index: 3;
    text-align: center;
    .row{
        position: relative;
        width:fit-content;
        margin: auto;

    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        height: auto;

        button {
            position: relative;
            margin-top: 3em;
            padding: 10px 30px;
            border-radius: 15px;
            border: 2px solid white;

            
        }
        .dest{
            background-color: green;
            color: white;

            &:hover {
                border: 2px solid red;
                background-color: rgb(4, 206, 4);
            }
        }

        .djikstra{
            background-color: brown;
            color: white;

            &:hover {
                border: 2px solid green;
                background-color: rgb(255, 93, 93);
            }
        }

        .astar {
            background-color: aqua;
            color: black;

            &:hover {
                border: 2px solid salmon;
                background-color: rgb(220, 255, 252);
            }
        }
    }
}

.choosing {
    cursor: crosshair;
}

.hidden {
    display: none;
}

.logo{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 240px;
    z-index: 1;
}

.title {
    font-size: 4em;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}